* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 72%;
  margin: 0 0 0 auto;
  padding: 0 10%;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
   margin-bottom: 9.6rem;
   margin-top: 1.2rem;
}

.slider-items {
  display: flex;
  gap: 7rem;
  max-width: 100%;
  overflow: hidden;

}

.house-card{
display: flex;
flex-direction: column;
align-items: center;
}

.wrap-img {
  width: 180%;
  height: 120%;
  margin-bottom: 8.6rem;
}

.img {
  border-radius: 1rem;
  width: 100%;
  height: 180%;
}

.heading-secondary {
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: 2px;
  font-weight: 800;
  color: #333;
  margin-bottom: 0.5rem;
}

.heading-tertiary {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 1.2rem 0;
}

.paraghraph {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(209,209,209);
  text-align: center;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transition: opacity ease-in-out 0.4s;
}

.prev {
  width: 3.2rem;
  height: 2.2rem;
  /* top: 50%;
  left: 20px;
  transform: translateY(-60%); */
  color: #fff;
}

.next {
  width: 3.2rem;
  height: 2.2rem;
  /* top: 50%;
  left: 20px;
  transform: translateY(-60%); */
  color: #fff;
}

.btn-background-next {
  background-color: rgb(151,191,15);
  min-width: 6.3rem;
  height: 4.4rem;
  margin-left: 10rem;
  text-align: center;
  padding: 1.2rem;
  border-top-left-radius: 12rem;
  border-bottom-left-radius: 12rem;
  position: absolute;
  top: 42%;
  right: 0%;
}

.btn-background-prev {
  background-color: rgb(239,239,239);
  min-width: 6.3rem;
  height: 4.4rem;
  margin-left: 10rem;
  text-align: center;
  padding: 1.2rem;
  border-top-right-radius: 12rem;
  border-bottom-right-radius: 12rem;
  position: absolute;
  top: 41%;
  left: 19%;
}



.icon {
  filter: brightness(-50%);
  opacity: 10%;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.list {
  margin-top: 1.2rem;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}